body,
html {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Ephesis-Regular";
  src: url("../assets/fonts/Ephesis/Ephesis-Regular.ttf");
}

@font-face {
  font-family: "Pacifico-Regular";
  src: url("../assets/fonts/Pacifico/Pacifico-Regular.ttf");
}

@font-face {
  font-family: "Cinzel";
  src: url("../assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf");
}

a {
  color:black;
  text-decoration: none;

  &[aria-current] {
    background-color: #faf9f4;
    color: #353637;
  }
}
